<h1><%= @group.name %></h1>

<% if current_user.groups.include?(@group) %>
    <h2>Events:</h2>
    <% @group.events.each do |event| %>
        <div>
            <%= link_to event.name, group_event_path(event) %></br>
            <%= event.date_time.to_formatted_s(:long_ordinal) %></br>
            </br>
        </div>
    <% end %>
    <%= button_to "Add Event", new_group_event_path(@group), method: "get" %>
    <div>
        <%= button_to "Edit Group", edit_group_path(@group), method: "get" %>
    </div>
     <div>
        <%= button_to "Leave Group",  group_leave_path(@group), method: "get" %>
    </div>
    <div>
        <%= button_to "Delete Group", group_path(@group), method: "delete" %>
    </div>
<% else %>
    <div>
        <%= button_to "Join Group", group_join_path(@group), method: "get" %>
    </div>
<% end %>