
<h1><%= @user.name %></h1>
</br>
<% if @user == current_user %>
    <h4>Your Events are:</h4>
    <% if !@events.empty? %>
        <% @events.each do |event| %>
            <div>
                <%= link_to event.name, event_path(event) %></br>
                <%= event.date_time.to_formatted_s(:long_ordinal) %></br>
            </div>
        <% end %>
    <% else %>
        <div>
            <%= button_to "Add New Event", new_event_path, method: "get" %>
        </div>
    <% end %>
<% end %>
</br>
<h4>Games:</h4>
<% if !@games.empty? %>
    <% @games.each do |game| %>
        <div><%= link_to game.name, game_path(game) %></div>
    <% end %>
<% elsif @user == current_user %>
    <div><%= button_to "Add a New Game", new_game_path, method: "get" %></div>
<% end %>
    <div><%= button_to "See All Games", games_path, method: "get" %></div>