<% if @game.errors.any? %>
  <div id="error_explanation">
    <h2><%= pluralize(@game.errors.count, "error") %> prohibited this game from being saved:</h2>
 
    <ul>
    <% @game.errors.full_messages.each do |msg| %>
      <li><%= msg %></li>
    <% end %>
    </ul>
  </div>
<% end %>

<%= form_for @game do |f| %>
    <%= f.label :name %>
    <%= f.text_field :name %></br>
    <%= f.label :min_play_time %>
    <%= f.text_field :min_play_time, placeholder: "in minutes" %>
    <%= f.label :max_play_time %>
    <%= f.text_field :max_play_time, placeholder: "in minutes" %></br>
    <%= f.label "Min # of Players" %>
    <%= f.text_field :min_num_players %>
    <%= f.label "Max # of Players" %>
    <%= f.text_field :max_num_players %></br>
    <%= f.label :min_age %>
    <%= f.text_field :min_age %>
    <%= f.label :max_age %>
    <%= f.text_field :max_age, placeholder: "enter '100' if no max"%></br>
    <%= f.submit %>
<% end %>
