<h1><%= @game.name %></h1>
<% if @game.min_play_time || @game.max_play_time %>
    <h3>Play Time: <%= @game.min_play_time %> - <%= @game.max_play_time %> minutes</h4>
<% end %>
<% if @game.min_num_players || @game.max_num_players %>
<h3>Num of Players: <%= @game.min_num_players %> - <%= @game.max_num_players %></h4>
<% end %>
<% if @game.min_age || @game.max_age %>
<h3>Age Range: <%= @game.min_age %> - <%= @game.max_age %></h4>
<% end %>

<h3>Categories:</h3>
<% @game.categories.each do |category| %>
    <%= link_to category.name, category_path(category) %>
<% end %>

<h3>Mechanisms:</h3>
<% @game.mechanisms.each do |mechanism| %>
    <%= link_to mechanism.name, mechanism_path(mechanism) %>
<% end %>


    <div><%= button_to "Edit Game", edit_game_path(@game), method: "get" %></div>
    <div><%= button_to "Delete Game", game_path(@game), method: "delete" %></div>
    </br>
    <div><%= button_to "See All Games", games_path, method: "get" %></div>