<h1><%= @game.name %></h1>
<% if @game.min_play_time || @game.max_play_time %>
    <h3>Play Time: <%= @game.min_play_time %> - <%= @game.max_play_time %> minutes</h4>
<% end %>
<% if @game.min_num_players || @game.max_num_players %>
<h3>Num of Players: <%= @game.min_num_players %> - <%= @game.max_num_players %></h4>
<% end %>
<% if @game.min_age || @game.max_age %>
<h3>Age Range: <%= @game.min_age %> - <%= @game.max_age %></h4>
<% end %>

<% if current_user.games.include?(@game)%>
    <h3>Game Plays:</h3>

    <% if @ties == true %>
        <h2>Tied Plays</h2>
        <div><%= button_to "See All Plays", game_path(@game), method: "get" %></div>
    <% else %>
        <div><%= button_to "See All Tied Plays", game_ties_path, method: "get" %></div>
    <% end %>
    
    <% @game.plays.each do |play| %>
        <%= link_to play.winner, game_play_path(play) %>
    <% end %>
    </br>
    </br>
    <div><%= button_to "Add a Game Play", new_game_play_path(@game), method: "get" %></div>
    <div><%= button_to "See Tied Game Plays", game_ties_path(@game), method: "get" %></div>
    </br>
    <div><%= button_to "Edit Game", edit_game_path(@game), method: "get" %></div>
    <div><%= button_to "Delete Game", game_path(@game), method: "delete" %></div>
<% end %>
</br>
<div><%= button_to "See All Games", games_path, method: "get" %></div>