<h1><%= @game.name %></h1>
<% if @game.min_play_time || @game.max_play_time %>
    <h3>Play Time: <%= @game.min_play_time %> - <%= @game.max_play_time %> minutes</h4>
<% end %>
<% if @game.min_num_players || @game.max_num_players %>
<h3>Num of Players: <%= @game.min_num_players %> - <%= @game.max_num_players %></h4>
<% end %>
<% if @game.min_age || @game.max_age %>
<h3>Age Range: <%= @game.min_age %> - <%= @game.max_age %></h4>
<% end %>

<% if current_user.games.include?(@game)%>
    <h3>Game Plays:</h3>
    <% @game.plays.each do |play| %>
        <% if play.user_id == current_user.id%>
            <div><%= play.num_plays %></div>
            <div><%= button_to "Add a Game Play", game_play_path(@game, play), method: "patch" %></div>
        <% end %>
    <% end %>
    </br>
    </br>
    <div><%= button_to "Edit Game", edit_game_path(@game), method: "get" %></div>
    <div><%= button_to "Remove Game", game_path(@game), method: "delete" %></div>
<% else %>
    <div><%= button_to "Add Game", game_add_path(@game), method: "get" %></div>
<% end %>
</br>
<div><%= button_to "See All Games", games_path, method: "get" %></div>